@{
    ViewData["Title"] = "Upsert";
}
@model FilmsCatalog.Application.Dtos.FilmDto

<h2> @(Model?.Id > 0 ? "Обновление" : "Создание")  фильма</h2>
<div class="row">
    <div class="col-md-6 col-12">
        <form class="film-form-upsert" action='/Film/Upsert' method='post' enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model?.Id" name="Id" type="text" class="d-none">

            <div class="form-group">
                <label>Название</label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Год выпуска</label>
                <input asp-for="Year" type="text" class="form-control" />
            </div>
            <div class="form-group d-flex">
                <div>
                    <label>Постер</label>
                    <input asp-for="Poster" type="file">
                </div>
                <div>
                    <img src='@(Model?.PosterUrl != null ? "\\" : "")@Model?.PosterUrl' class="poster-img" id="img" />
                </div>
            </div>
            <div class="form-group">
                <label>Директор</label>
                <input value="@Model?.DirectorId" name="DirectorId" type="text" class="d-none">
                <input value="@Model?.DirectorName" type="text" class="form-control director-input">
            </div>

            <input type="submit" class="btn btn-success" value="Сохранить">
            <a asp-action="Index" class="btn btn-outline-secondary">Назад</a>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".director-input").autocomplete({
                source: "/Director/GetDirectorsByTerm",
                select: function (event, ui) {
                    event.preventDefault();

                    $(".director-input").val(ui.item.label);
                    $("input[name='DirectorId']").val(ui.item.value);
                }
            });
        })

        $('#Poster').on("change", async function (event) {
            var src = await getPreviewSrc(event);

            $("#img").attr("src", src);
        });

        function getPreviewSrc(event) {
            return new Promise(resolve => {
                if (event.target.files && event.target.files[0]) {
                    const reader = new FileReader();

                    reader.readAsDataURL(event.target.files[0]);
                    reader.onload = e => {
                        resolve(e.target.result);
                    };
                }
            });
        }
    </script>
}
